<section class="benefits">
  <div class="benefits-content">
    <div class="benefits-list">
      <div class="benefit-item flex-column gap-10">
        <img
          src="/assets/icons/check-fill.svg"
          alt="Check"
          class="benefit-icon"
        />
        <span class="benefit-text">Melhor preço garantido!</span>
      </div>
      <div class="benefit-item flex-column gap-10">
        <img
          src="/assets/icons/check-fill.svg"
          alt="Check"
          class="benefit-icon"
        />
        <span class="benefit-text">Pagamento em até 12x sem juros</span>
      </div>
      <div class="benefit-item flex-column gap-10">
        <img
          src="/assets/icons/check-fill.svg"
          alt="Check"
          class="benefit-icon"
        />
        <span class="benefit-text">Assistência Mundial 24h em Português</span>
      </div>
      <div class="benefit-item flex-column gap-10">
        <img
          src="/assets/icons/check-fill.svg"
          alt="Check"
          class="benefit-icon"
        />
        <span class="benefit-text"
          >Remarcações ilimitadas ou cancelamento integral até o início da
          viagem</span
        >
      </div>
    </div>
  </div>
</section>
