<section class="faq">
  <div class="faq-content">
    <div class="faq-list">
      <!-- 1 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">1</span>
          <span class="faq-text"
            >O seguro cobre despesas médicas com COVID-19?</span
          >
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            Primeiramente, para contratar um seguro viagem você precisa ter em
            mãos as informações completas sobre a viagem. Em outras palavras,
            será necessário informar o destino, data de embarque e retorno e
            número de pessoas que viajarão com você. Por fim, deve-se dizer se
            há gestantes, idosos, esportistas ou pessoas que necessitam de
            atendimento especial. <br />
            <br />
            Após isso, você terá à sua disposição diversas opções de seguro
            viagem. Em seguida, durante a escolha, o viajante deve se atentar às
            coberturas adicionais, restrições ou necessidades especiais.
          </p>
        </div>
      </div>
      <!-- 2 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">2</span>
          <span class="faq-text">Quais os tipos de Seguro Viagem?</span>
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            Além das diferentes coberturas e adicionais, existem diversos tipos
            de seguro viagem, de acordo com o destino e finalidade da viagem.
            Confira a seguir as modalidades que você encontra no Assistente de
            Viagem. <br />
            <br />

            &ensp; • Seguro Viagem Nacional: Cobertura para viagens dentro do
            Brasil; <br />
            &ensp; • Seguro Viagem Internacional: Cobertura para viagens fora do
            Brasil; <br />
            &ensp; • Seguro Viagem Europa: É uma modalidade exclusiva para quem
            vai conhecer países no continente europeu; <br />
            &ensp; • Seguro Viagem Receptivo: É um seguro viagem com assistência
            24 horas para estudantes, residentes ou turistas do exterior em
            viagem pelo Brasil; <br />
            &ensp; • Seguro Viagem Estados Unidos: É uma opção exclusiva para
            quem vai conhecer os Estados Unidos. <br />
            <br />

            Além disso, existem seguros multiviagens, para Portugal, Tratado
            Schengen, dentre outros.
          </p>
        </div>
      </div>
      <!-- 3 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">3</span>
          <span class="faq-text">Contratar Seguro Viagem é obrigatório?</span>
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            Em algumas situações, o seguro viagem é obrigatório, em outras não.
            Contudo, em ambos os casos, ele é a melhor opção para que a viagem
            aconteça sem imprevistos, despesas extras ou contratempos. <br />
            <br />
            No caso da contratação obrigatória, podemos exemplificar a maior
            parte dos países europeus. Isso porque eles exigem um seguro viagem
            com cobertura mínima de 30 mil euros. Além disso, outros países como
            Chile, Cuba e Austrália também possuem regras obrigatórias para a
            contratação de um seguro viagem. <br />
            <br />
            Todavia, mesmo em países como os Estados Unidos onde ele não é
            exigido, sua contratação se relaciona com outro ponto importante:
            por lá não existe atendimento gratuito de saúde e os preços são
            altíssimos. Ou seja, se você precisar de assistência médica nos
            Estados Unidos, terá de desembolsar valores tão grandes que podem
            comprometer o seu passeio. Por fim, contratar um seguro viagem
            dentro do Brasil é uma forma de ampliar as possibilidades de
            atendimento além do SUS. Em resumo, você fica muito mais tranquilo e
            seguro para conhecer qualquer lugar a qualquer tempo.
          </p>
        </div>
      </div>
      <!-- 4 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">4</span>
          <span class="faq-text"
            >Quanto tempo demora para confirmar o pagamento do seguro
            viagem?</span
          >
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            Quando efetuado com cartão de crédito ou PIX, o certificado é
            emitido pouco tempo depois. Por sua vez, em casos de pagamentos via
            boleto, ele pode demorar até 1 dia útil após a compensação para
            chegar ao viajante.
          </p>
        </div>
      </div>
      <!-- 5 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">5</span>
          <span class="faq-text">Quanto Custa um Seguro Viagem?</span>
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            O valor de um seguro viagem, seja ele nacional ou internacional,
            dependerá do destino, número de pessoas, coberturas escolhidas e
            tempo da viagem, dentre outros. Contudo, há planos disponíveis no
            Assistente de Viagem a partir de R$6,90 por dia de viagem. <br />
            <br />
            Além disso, para viajantes recorrentes, também temos
            disponíveis pacotes de multiviagens, com validade para 365 dias e
            seguro viagem com cobertura em diferentes destinos no período em
            questão.
          </p>
        </div>
      </div>
      <!-- 6 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">6</span>
          <span class="faq-text">Quem pode contratar um seguro viagem?</span>
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            O valor de um seguro viagem, seja ele nacional ou internacional,
            dependerá do destino, número de pessoas, coberturas escolhidas e
            tempo da viagem, dentre outros. Contudo, há planos disponíveis no
            Assistente de Viagem a partir de R$6,90 por dia de viagem. <br />
            <br />
            Além disso, para viajantes recorrentes, também temos disponíveis
            pacotes de multiviagens, com validade para 365 dias e seguro viagem
            com cobertura em diferentes destinos no período em questão.
          </p>
        </div>
      </div>
      <!-- 7 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">7</span>
          <span class="faq-text">Qual o melhor seguro viagem?</span>
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            O melhor seguro viagem é aquele que oferece cobertura completa a
            partir das suas necessidades no destino de origem. Ou seja, isso vai
            depender do que você está disposto a contratar e quais seguranças
            quer ter durante a viagem. <br />
            <br />
            Além disso, em casos específicos como viagem de gestantes ou para a
            prática de esportes radicais, o melhor seguro viagem precisa
            oferecer coberturas específicas para este tipo de viajante.
          </p>
        </div>
      </div>
      <!-- 8 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">8</span>
          <span class="faq-text">Seguro viagem: qual a cobertura?</span>
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            Em relação aos pacotes de seguro viagem, temos uma gama de opções
            bastante extensa para que todos os públicos possam encontrar o
            melhor pacote para o seu destino. Quer um plano simples? Nós temos!
            Com o nosso seguro viagem, você pode contratar planos de empresas
            como:<br />
            <br />
            &ensp; • Assist Card; <br />
            &ensp; • Porto Seguro; <br />
            &ensp; • Travel Ace Assistence; <br />
            &ensp; • Affinity Seguro Viagem; <br />
            &ensp; • My Travel Assist; <br />
            &ensp; • Assist Card; <br />
            &ensp; • Coris Seguro Viagem; <br />
            &ensp; • Travel Ace Assistance; <br />
            &ensp; • My Travel Assist; <br />
            &ensp; • GTA Global Travel Assistance; <br />
            &ensp; • Ita Seguro Viagem dentre outras.
          </p>
        </div>
      </div>
      <!-- 9 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">9</span>
          <span class="faq-text">Para que serve o seguro de viagem?</span>
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            O seguro viagem serve como uma proteção ao viajante. Esse é um
            serviço de assistência prestado pelas seguradas. Principalmente
            estando longe de casa, é melhor — e mais barato — prevenir do que
            remediar. Há custos médicos, ou extravio de bagagem, por exemplo,
            que saem mais caros do que o seguro viagem. As principais coberturas
            do seguro viagem são: <br />
            <br />
            &ensp; • Assistência Médica e Hospitalar (doenças e acidentes —
            alguns planos já com cobertura para covid-19); <br />
            &ensp; • Assistência Odontológica; <br />
            &ensp; • Assistência Farmacêutica; <br />
            &ensp; • Telemedicina; <br />
            &ensp; • Repatriação; <br />
            &ensp; • Traslado Médico; <br />
            &ensp; • Seguro Bagagem; <br />
            &ensp; • Atraso ou cancelamento de voo; <br />
            &ensp; • Assistência Jurídica; <br />
            &ensp; • Seguro de vida e Invalidez; <br />
            <br />
            Lembrando que as coberturas variam conforme a seguradora e o seu
            plano contratado. E como acionar o seguro? As seguradoras têm
            centrais de atendimento que funcionam 24 horas, nos 7 dias da semana
            — mesmo em feriados. Então, sempre que você precisar do seguro
            viagem, basta acessar os canais de atendimento que foram passados no
            momento da sua contratação. No Assistente de Viagem — plataforma
            para a compra do seu seguro viagem — os canais de atendimento são:
            <br />
            <br />
            &ensp; • Chat online no site Assistente de Viagem; <br />
            &ensp; • Central de atendimento: 0800-719-9707 <br />
            &ensp; • WhatsApp: (11) 2567-4080 <br />
            <br />
            Os nossos horários de atendimento são de Segunda a sexta-feira das
            9hrs às 18hrs. Porém, caso tenha contratado o seu plano e precise de
            ajuda, você pode contar com a nossa assistência emergencial que
            funciona 24 horas. Então, o seguro viagem serve para que a sua
            viagem seja tranquila, o mais econômica possível e que você tenha
            assistência e amparo caso surja algum imprevisto.
          </p>
        </div>
      </div>
      <!-- 10 -->
      <div class="faq-item">
        <div class="faq-question">
          <span class="faq-number">10</span>
          <span class="faq-text">Como fazer um seguro viagem?</span>
          <button class="faq-toggle">
            <img src="assets/icons/arrow-down.svg" alt="Expandir" />
          </button>
        </div>
        <div class="faq-answer">
          <p>
            Para fazer um seguro viagem você precisa contratar um plano em uma
            seguradora. Para isso, o primeiro passo é acessar o site do
            Assistente de Viagem e informar: <br />
            <br />
            &ensp; 1. Seu destino; <br />
            &ensp; 2. Tipo de viagem (se é lazer, estudo ou multiviagens);
            <br />
            &ensp; 3. Data de partida; <br />
            &ensp; 4. Data de retorno; <br />
            &ensp; 5. Quantidade de viajantes e as idades. <br />
            <br />
            Feito isso, você será redirecionado para uma página com todas as
            seguradoras e planos que atendem à sua viagem. Assim, você escolhe
            aquele com a melhor cobertura e valor que caiba no seu orçamento.
            Feito o pagamento, você recebe a sua apólice no e-mail após a
            confirmação do pagamento. Na apólice, também constam todos os
            telefones e canais de atendimento para contatos emergenciais.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
