<footer class="footer">
  <div class="footer-content">
    <div class="footer-top justify-between gap-20">
      <img
        src="assets/images/logo-assistente-de-viagem.png"
        alt="Logo Assistente de Viagem"
        class="footer-logo"
      />
      <div class="footer-social">
        <a href="https://www.facebook.com/AssistenteDeViagem/" target="_blank"
          ><img src="assets/icons/social/facebook.svg" alt="Facebook"
        /></a>
        <a
          href="https://www.instagram.com/seguro.assistentedeviagem/"
          target="_blank"
          ><img src="assets/icons/social/instagram.svg" alt="Instagram"
        /></a>
        <a
          href="https://www.youtube.com/channel/UC463-UOIEJbTGRUaKseKA3Q"
          target="_blank"
          ><img src="assets/icons/social/youtube.svg" alt="YouTube"
        /></a>
        <a
          href="https://api.whatsapp.com/send?phone=551120924333&text=Ol%C3%A1,%20quero%20falar%20sobre%20seguro%20viagem"
          target="_blank"
          ><img src="assets/icons/social/whatsapp.svg" alt="WhatsApp"
        /></a>
      </div>
    </div>

    <hr class="footer-line" />

    <div class="footer-links">
      <div class="footer-column">
        <h3>Seguro Viagem</h3>
        <a href="#" class="link-footer">Preços e Planos</a>
        <a href="#" class="link-footer">Seguro viagem internacional</a>
        <a href="#" class="link-footer">Seguro viagem nacional</a>
        <a href="#" class="link-footer">Seguro viagem Portugal</a>
        <a href="#" class="link-footer">Seguro viagem Europa</a>
        <a href="#" class="link-footer">Seguro viagem Estados Unidos</a>
        <a href="#" class="link-footer">Tratado de Schengen</a>
        <a href="#" class="link-footer">Seguro viagem COVID-19</a>
        <a href="#" class="link-footer">Melhor seguro viagem</a>
      </div>

      <div class="footer-column">
        <h3>Somos a Assistente de Viagem</h3>
        <a href="#" class="link-footer">Quem é o assistente de viagem</a>
        <a href="#" class="link-footer">Blog</a>
        <a href="#" class="link-footer">Contato</a>
        <a href="#" class="link-footer">Na mídia</a>
        <a href="#" class="link-footer">Chip de Internet</a>
        <a href="#" class="link-footer">Política de Privacidade</a>
        <a href="#" class="link-footer">Política de Ofertas</a>
      </div>

      <div class="footer-column">
        <h3>Como Funciona</h3>
        <a href="#" class="link-footer">Como Comprar e Utilizar</a>
        <a href="#" class="link-footer">Vídeo institucional</a>
        <a href="#" class="link-footer">Vídeo comercial</a>
        <a href="#" class="link-footer">Vídeo tutorial</a>
        <a href="#" class="link-footer">Chip de Responsabilidade social</a>
      </div>

      <div class="footer-column">
        <h3>Meu Voucher</h3>
        <a href="#" class="link-footer">Garantias</a>
        <a href="#" class="link-footer">Como Utilizar</a>
        <a href="#" class="link-footer">Perguntas e Respostas</a>
        <a href="#" class="link-footer"
          >Seguro Viagem versus Seguro do cartão de crédito</a
        >
        <a href="#" class="link-footer">Vacina de Febre Amarela</a>
        <a href="#" class="link-footer">Viagem Segura para Europa</a>
        <a href="#" class="link-footer">As principais razões para contratar</a>
      </div>
    </div>

    <hr class="footer-line" />

    <div class="footer-links">
      <div class="footer-column">
        <h3>Formas de Pagamentos</h3>
        <div class="flex gap-10">
          <img src="assets/images/payment/visa.png" alt="Visa" />
          <img src="assets/images/payment/mastercard.png" alt="Mastercard" />
          <img src="assets/images/payment/elo.png" alt="Elo" />
          <img src="assets/images/payment/dinners.png" alt="Dinners" />
          <img src="assets/images/payment/ticket.png" alt="Ticket" />
          <img src="assets/images/payment/amex.png" alt="American Express" />
        </div>
      </div>

      <div class="footer-column">
        <h3>Assistente de Viagem</h3>

        <a href="#" class="link-footer">
          <img src="assets/icons/message.svg" alt="Message" /> Chat Online
        </a>
        <a href="#" class="link-footer">
          <img src="assets/icons/call.svg" alt="Phone" /> 0800-719-9707
        </a>

        <p>9h-18h Seg. à Sexta</p>
      </div>

      <div class="footer-column">
        <h3>Empresa associada a</h3>
        <div class="flex gap-10">
          <img
            src="assets/images/company/abav-cadastur.png"
            alt="Abav e Cadastur"
          />
          <img
            src="assets/images/company/ministerio-governo.png"
            alt="Ministério e Governo"
          />
        </div>
      </div>

      <div class="footer-column">
        <h3>Segurança desse Site</h3>
        <div class="flex gap-10">
          <img src="assets/images/security/geo-trust.png" alt="Geo Trust" />
          <img
            src="assets/images/security/google-safe.png"
            alt="Google Safe Browsing"
          />
        </div>
      </div>
    </div>

    <p class="footer-info">
      3RI Viagens e Turismo CNPJ 13.711.169/0001-00 Rua Cel. Luís Americano, 352
      - Edifício Metrópole - Cj. 52 CEP 03308-020 - São Paulo/SP
    </p>
  </div>

  <div class="footer-bottom">
    <p>
      Certificado do Ministério do Turismo:
      <a
        href="https://assistentedeviagem.com.br/seguro-viagem/Cadastur.pdf"
        target="_blank"
        >www.cadastur.turismo.gov.br</a
      >. Copyright 2025.
      <span class="footer-highlight">Assistente de Viagem</span>. Todos os
      direitos reservados.
    </p>
  </div>
</footer>
