<section class="information">
  <div class="information-content">
    <div class="justify-between gap-10">
      <div class="title mb-0">
        <h3>Seguro Viagem com total segurança e confiança</h3>
        <h2>Informações Importantes e Dúvidas Frequentes</h2>
      </div>
      <div class="information-actions gap-10">
        <button
          id="prev-information"
          class="custom-button information-button-left"
        >
          <img src="/assets/icons/caret-left.svg" alt="Seta" />
        </button>
        <button
          id="next-information"
          class="custom-button information-button-right"
        >
          <img src="/assets/icons/caret-right.svg" alt="Seta" />
        </button>
      </div>
    </div>

    <div class="information-cards">
      <div class="card">
        <img
          src="/assets/images/refund-cancellation.webp"
          alt="Reembolso"
          class="card-image"
        />
        <div class="card-info">
          <h3>Reembolso e cancelamento</h3>
          <p>
            O seguro viagem pode ser cancelado até
            <span class="highlight">1 dia antes</span> da
            <span class="highlight">vigência</span> da apólice, garantindo o
            reembolso total. Para isso, é necessário contatar a seguradora. No
            entanto, não há reembolso por dias não utilizados caso o retorno
            ocorra antes do previsto no contrato.
          </p>
        </div>
      </div>

      <div class="card">
        <img
          src="/assets/images/voucher.webp"
          alt="Voucher"
          class="card-image"
        />
        <div class="card-info">
          <h3>Recebimento do voucher</h3>
          <p>
            O <span class="highlight">voucher</span> ou comprovante do seguro
            viagem é <span class="highlight">enviado por e-mail</span> ou
            WhatsApp logo após a confirmação do pagamento. Recomenda-se que o
            viajante o mantenha acessível, tanto em versão digital quanto
            impressa, durante toda a viagem.
          </p>
        </div>
      </div>

      <div class="card">
        <img
          src="/assets/images/coupon.webp"
          alt="Cupom de desconto"
          class="card-image"
        />
        <div class="card-info">
          <h3>Cupom de desconto</h3>
          <p>
            Quer mais? O cupom <span class="highlight">PROTEGIDO</span> ainda te
            dá um super desconto em nosso seguro viagem! Veja também outros
            benefícios que você adquire ao contratar o nosso plano de
            assistência.
          </p>
        </div>
      </div>
    </div>

    <div class="pagination-dots gap-10">
      <span class="dot-information active"></span>
      <span class="dot-information"></span>
      <span class="dot-information"></span>
    </div>
  </div>
</section>
