<section class="media">
  <div class="media-content">
    <div class="title">
      <h3>Acompanhe a imprensa</h3>
      <h2>Assistente de Viagem é Destaque na Mídia</h2>
    </div>

    <div class="media-grid">
      <a
        href="http://www.broadcast.com.br/cadernos/pr-newswire-internacional/?id=RmNPaC80Nkg3elNTMUdhQ2VDZlVBZz09"
        target="_blank"
        class="media-item flex-center"
      >
        <img src="assets/images/media/estadao.png" alt="Estadão" />
      </a>
      <a
        href="https://www.terra.com.br/noticias/dino/brasil-sera-o-8-mercado-segurador-do-mundo-em-2020,48c4aa6db9c6ed30398f1e35c5bde6496s1lzwc7.html"
        target="_blank"
        class="media-item flex-center"
      >
        <img src="assets/images/media/terra.png" alt="Terra" />
      </a>
      <a
        href="http://www.agenciaoglobo.com.br/dinonews/Default.aspx?idnot=81999&tit=COVID-19%3a+como+viajar+em+seguran%c3%a7a+no+%e2%80%9cnovo+normal%e2%80%9d%3f"
        target="_blank"
        class="media-item flex-center"
      >
        <img src="assets/images/media/globo.png" alt="Globo" />
      </a>
      <a
        href="https://exame.abril.com.br/negocios/releases/a-assistente-de-viagem-gigante-do-segmento-de-comparacao-e-distribuicao-de-seguro-viagem-no-brasil-iniciara-operacoes-no-chile-e-argentina/"
        target="_blank"
        class="media-item flex-center"
      >
        <img src="assets/images/media/exame.png" alt="Exame" />
      </a>
      <a
        href="https://www.infomoney.com.br/patrocinados/noticias-corporativas/seguro-viagem-e-a-melhor-opcao-para-ferias-tranquilas-no-exterior/"
        target="_blank"
        class="media-item flex-center"
      >
        <img src="assets/images/media/info-money.png" alt="Info Money" />
      </a>
      <a
        href="https://assistentedeviagem.com.br/"
        target="_blank"
        class="media-item flex-center"
      >
        <img src="assets/images/media/veja.png" alt="Veja" />
      </a>
    </div>
  </div>
</section>
