<section class="reviews">
  <div class="reviews-content">
    <div class="reviews-header justify-between gap-10">
      <div class="title mb-0">
        <h3>Selo ReclameAqui – Compromisso com a Qualidade</h3>
        <h2>Avaliações dos Nossos Clientes</h2>
      </div>
      <img src="/assets/images/reclame-aqui.png" alt="Reclame Aqui" />
    </div>

    <button id="prev" class="custom-button reviews-button-left">
      <img src="/assets/icons/caret-left.svg" alt="Seta" />
    </button>
    <button id="next" class="custom-button reviews-button-right">
      <img src="/assets/icons/caret-right.svg" alt="Seta" />
    </button>

    <div class="reviews-cards" id="reviews-container">
      <!-- Card 1 -->
      <div class="review-card flex-column">
        <div class="review-header justify-between gap-10">
          <div class="review-user flex gap-10">
            <img
              src="/assets/icons/quotes.svg"
              alt="Quotes"
              class="quote-icon"
            />
            <span class="reviewer-name">Simone Pereira</span>
          </div>
          <span class="review-date">Viajou em 11/2018</span>
        </div>
        <p class="review-text">
          "Minha filha teve uma inflamação no ouvido em uma viagem internacional
          e fomos muito bem atendidos"
        </p>
        <div class="review-footer">
          <span class="review-rating">4.5/5</span>
          <img src="/assets/icons/star.svg" alt="Star" class="star-icon" />
        </div>
      </div>

      <!-- Card 2 -->
      <div class="review-card flex-column">
        <div class="review-header justify-between gap-10">
          <div class="review-user flex gap-10">
            <img
              src="/assets/icons/quotes.svg"
              alt="Quotes"
              class="quote-icon"
            />
            <span class="reviewer-name">Alessandra Pacheco</span>
          </div>
          <span class="review-date">Viajou em 03/2019</span>
        </div>
        <p class="review-text">
          "Torci meu pé durante um tour e fui encaminhada a um hospital para ser
          examinada. O atendimento foi rápido e eficiente. Indico o seguro
          viagem internacional!"
        </p>
        <div class="review-footer">
          <span class="review-rating">5/5</span>
          <img src="/assets/icons/star.svg" alt="Star" class="star-icon" />
        </div>
      </div>

      <!-- Card 3 -->
      <div class="review-card flex-column">
        <div class="review-header justify-between gap-10">
          <div class="review-user flex gap-10">
            <img
              src="/assets/icons/quotes.svg"
              alt="Quotes"
              class="quote-icon"
            />
            <span class="reviewer-name">Ronei Fonseca</span>
          </div>
          <span class="review-date">Viajou em 12/2019</span>
        </div>
        <p class="review-text">
          "Tive problema com minha bagagem que atrasou, mas fui devidamente
          amparado. Recomendo!"
        </p>
        <div class="review-footer">
          <span class="review-rating">5/5</span>
          <img src="/assets/icons/star.svg" alt="Star" class="star-icon" />
        </div>
      </div>
    </div>

    <div class="reviews-pagination gap-10" id="reviews-pagination"></div>
  </div>
</section>
