<section class="steps">
  <div class="steps-content">
    <div class="title">
      <h3>Garanta seu seguro viagem em poucos passos!</h3>
      <h2>4 Passos Simples para Viajar Protegido</h2>
    </div>
    <div class="steps-grid justify-between gap-10">
      <div class="step flex-column-center">
        <img
          src="assets/images/step/step-one.png"
          alt="Passo 1 - Informe seus dados"
        />
        <h4>Informe seus dados</h4>
        <p>
          Preencha as informações da sua viagem e veja as melhores cotações
          disponíveis.
        </p>
      </div>

      <img
        src="assets/icons/arrow-double-right.svg"
        alt="Seta"
        class="arrow-icon"
      />

      <div class="step flex-column-center">
        <img
          src="assets/images/step/step-two.png"
          alt="Passo 2 - Compare e escolha"
        />
        <h4>Compare e escolha</h4>
        <p>
          Analise diferentes planos, seguradoras, coberturas e encontre o melhor
          custo-benefício.
        </p>
      </div>

      <img
        src="assets/icons/arrow-double-right.svg"
        alt="Seta"
        class="arrow-icon"
      />

      <div class="step flex-column-center">
        <img
          src="assets/images/step/step-three.png"
          alt="Passo 3 - Finalize sua compra"
        />
        <h4>Finalize sua compra</h4>
        <p>
          Escolha o plano ideal e pague online em até 10x sem juros, de forma
          segura.
        </p>
      </div>

      <img
        src="assets/icons/arrow-double-right.svg"
        alt="Seta"
        class="arrow-icon"
      />

      <div class="step flex-column-center">
        <img
          src="assets/images/step/step-four.png"
          alt="Passo 4 - Receba sua apólice"
        />
        <h4>Receba sua apólice</h4>
        <p>
          O documento será enviado por e-mail. Agora é só aproveitar sua viagem!
        </p>
      </div>
    </div>
  </div>
</section>
