<header class="topbar">
  <div class="topbar-content justify-between">
    <div class="logo">
      <img src="/assets/images/logo-assistente-de-viagem.png" alt="Logo" />
    </div>

    <nav class="links flex gap-10">
      <label>Vendas:</label>

      <a href="tel:08007199707" class="link-button flex gap-10">
        <img src="/assets/icons/phone.svg" alt="Telefone" />
        <span>0800-719-9707</span>
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=551120924333&text=Ol%C3%A1,%20quero%20falar%20sobre%20seguro%20viagem"
        class="link-button flex gap-10"
      >
        <img src="/assets/icons/whatsapp.svg" alt="Whatsapp" />
        <span>Whatsapp</span>
      </a>

      <a
        href="https://assistentedeviagem.com.br/seguro-viagem/meu-voucher"
        class="link-button flex gap-10"
      >
        <img src="/assets/icons/voucher.svg" alt="Voucher" />
        <div class="flex-col">
          <span class="voucher">Meu Voucher</span>
          <p>Acesse sua conta aqui</p>
        </div>
        <img src="/assets/icons/arrow-right.svg" alt="Seta" class="arrow" />
      </a>
    </nav>
  </div>
</header>
